

/** Forms */

.challenge__form input {
    width: 100%;
    box-shadow: none !important;
    border: 1px solid #999;
    padding: 22px;
}

.challenge__form div{
    position: relative;
    padding-bottom: 20px;
}

.challenge__form div label {
    padding-left:10px;
    position: absolute;
    top:12px;
    pointer-events: none;
    left: 2px;
    color: #999;
    transition: all .5s ease;
    background: white;
}

.challenge__form input:focus {
    border: 1px solid #007bff;
}

.challenge__form input:focus ~ label,
.challenge__form input:valid ~ label {
    top: -12px;
    left: 10px;
    color: #007bff;
    font-size: 13px;
    font-weight: bold;
    background: white;
    border-radius: 5px;
    padding:2px;
    display: block;
}